# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Flask
instance/
.webassets-cache

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python Build Files
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# Uploaded Files
uploads/

# SQLite
*.db
*.sqlite3

makeadmin.py